<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyGarage.Properties.Settings.CS6920_team5_ConnectionString"
            connectionString="Data Source=mygarage.cezil3uadcim.us-east-2.rds.amazonaws.com;Initial Catalog=CS6920-team5;Persist Security Info=True;User ID=mygarage;Password=8923dfahuweiQUWI"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>